.collection {
  min-height: 110px;
}

.popover {
   background-color:#b94a48;
   border:none;
   border-radius:unset;
   min-width:100px;
   width:100%;
   max-width:400px;
   opacity: 1 !important;
   overflow-wrap:break-word;
}
