.badge-spacing {
  margin-left: 5px;
}

.to-upper {
  text-transform: uppercase;
}

.top {
  margin-top: 5px;
}

.cluster-balancer {
  &-enabled {
    background-color: #5c9f3d !important;
  }

  &-disabled {
    background-color: #C93434 !important;
  }

  &-notrunning {
    background-color: #C0C0C0 !important;
  }
}
